@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root {
  --background: #101620;
  --secondary: #272d37;
  --btn-bg: #050d26;
  --bg-azul: #e9eeff;
  --bg-white: #fff;
  --bg-electric: #f0fbff;
  --btn-bg-verde: #032b02; 
  --nav-bg: #0f1525;

  --text-gray: #adb9c7;
  --text-white: #f3f4f6;
  --electric: #64d3ff;
  --font-family-primary: "Ubuntu";
  
  --max-width: 1200px;
  --max-width-section: 950px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Libre Baskerville", sans-serif;
}

/* ----------------------------------------------------------- */
/* =======================Header============================== */
/* ----------------------------------------------------------- */

header {
  /* border: 1px solid red; */
  background: linear-gradient(#032b02 , var(--background));
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  height: 120px;
 
  
}
header img {
  height: 100px;
}
.navbar {
  display: flex;
  align-items: center;
  gap: 200px;
}

.navbar-list {
  
  display: flex;
  gap: 30px;
}
.navbar-list a {
  color: #fff;
  font-weight: 700;
}

.navbar img {
  height: 30px;
}

/* ----------------------------------------------------------- */
/* =======================Main================================ */
/* ----------------------------------------------------------- */
body {
  background:var(--background) ;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  } 

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--max-width-section);
  height: 80vh;
  gap: 30px;

}
.hero__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.hero__info h1 {
  color: var(--text-white);
  font-family: var(--font-family-primary);
  font-size: 3rem;
  font-weight: 900;
  

}
.hero__info p{
  color: var(--text-white);
  font-family: var(--font-family-primary);
  font-size: 1.2rem;

}
 .hero__img {
  border-radius: 100%;
  max-width: 50%;
  height: 350px;
 }
 .hero__links {
  display: flex;
  gap: 30px;
 }
 .hero__links a {
  background:var(--btn-bg-verde);
  color: var(--text-white);
  font-family: var(--font-family-primary);
  font-weight: 500;
  border-radius: 10px;
  padding: 10px 25px;
  font-size: 16px;
 }
 .hero__links .links__item2 {
background: none;
border: 2px solid var(--btn-bg-verde);
 }

.links__item2:hover,
.links__item1:hover {
  background: #e4c61d;
  color: #101620;
}



/* section Nosotros */

 #nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--max-width-section);
  gap: 10px;
  padding: 30px;
 }

 .nosotros__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
 
 }
.nosotros__title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
 .nosotros__title h2 {
  font-family: var(--font-family-primary);
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--text-white);
  text-align: right;
 }

 .nosotros__container img {
  width: 70%;
  
 }
 .nosotros__title p {
  font-size: 1.2rem;
  font-family: var(--font-family-primary);
  color: var(--text-white);
  text-align: right;
 }

 #menu-toggle,
 .menu-label {
  display: none;
 }

 /* ----------------------------------------------------------- */
/* =======================Mediaqueris========================== */
/* ----------------------------------------------------------- */

@media (max-width:992px) {

header{
  max-height: 80px;
}
header img {
  height: 60px;
}
 
  .navbar {
    gap: 30px;
  }

  .navbar-list {
    position: absolute;
    top: 100px;
    left: 5%;
    right: 5%;
    flex-direction: column;
    width: 90%;
    background: #232831;
    text-align: center;
    border:2px solid #384253;
    border-top: 0;
    border-radius: 0 0 15px 15px;
    padding: 40px 0;
    display: none;
    
  }

  .menu-label {
    display: flex;
    order: 2;
  }

  #menu-toggle:checked + .navbar-list {
    display: flex;
  }

 #hero{ 
  padding-top: 60px;
  height: 60vh;
  margin: 3rem 1rem;
 }
  .hero__info {
  text-align: center;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  padding: 30px 0;

 }
 .hero__info h1 {
  max-width: 600px;
  font-size: 2rem;
 }
 .hero__info p {
  max-width: 600px;
  font-size: 1rem;

 }
 
  .hero__img {
  display: none;
 }

 .nosotros__container {
  max-width: 90%;
  flex-direction: column;
 }

 .nosotros__title {
  max-width: 600px;
  text-align: center;
  
 }
 .nosotros__title h2 {
  text-align: center;
  font-size: 2rem;
 }
 .nosotros__title p {
  text-align: center;
  font-size: 1rem;
 }
}

@media (max-width: 576px) {
  main {
    gap: 30px;
  }
  header{
    max-height: 50px;
  }
  header img {
    height: 50px;
  }
  #hero {
    padding-top: 110px;
  height: 50vh;
  }
.hero__info h1{
  max-width: 80%;
  font-size: 1.5rem;
}

.hero__info p{
  font-size: 1rem;
}
.hero__links a {
  font-weight: 500;
  padding: 10px 15px;
  font-size: 0.8rem;
 }

.nosotros__title h2 {
  font-size: 1rem;
}
.nosotros__title p{
  font-size: 0.8rem;
}
}